.contact {
  height: fit-content;
  background-color: $secondryColor;
  text-align: center;
  padding: 2rem;
  color: $textColor;
  & h1 {
    margin-bottom: 1rem;
    font-size: $heading;
  }
  &-div {
    display: flex;
    align-items: center;
    &__info {
      flex: 1;
      text-align: left;
      font-size: $textSize;
      &__imgs {
        display: flex;
        text-align: center;
        & .icon {
          width: 4rem;
          height: 4rem;
          background-color: white;
          margin: 0.2rem;
          border-radius: 30%;
          color: $secondryColor;
          border: none;
          box-shadow: 0 5px 15px -5px #00000070;
          position: relative;
          overflow: hidden;
          & i {
            line-height: 4rem;
            font-size: 2rem;
            transition: all 0.2s;
          }
          &:before {
            content: "";
            position: absolute;
            width: 120%;
            height: 120%;
            background-color: $primaryColor;
            left: -110%;
            top: 90%;
            transform: rotate(45deg);
          }
          &:hover {
            & i {
              transform: scale(1.3);
              color: white;
            }
            &:before {
              animation: animation 0.7s 1 forwards;
            }
          }
        }
      }
    }
    &__formContainer {
      flex: 1;
      & h2 {
        font-size: $h2size;
        margin-bottom: 1rem;
        text-decoration: underline;
      }
      ::placeholder {
        color: grey;
      }
      & form {
        & input,
        textarea {
          font-size: $textSize;
          margin: 0.3rem 0;
          border: none;
          padding: 0.2rem;
          border-radius: 0.5rem;
        }
        .name {
          width: 40%;
        }
        .email {
          width: 40%;
        }
        .subject {
          width: 80%;
        }
        .message {
          width: 80%;
          height: 5rem;
        }
      }
      & button {
        border: none;
        border-radius: 0.4rem;
        padding: 0.8rem;
        background-color: $primaryColor;
        color: $textColor;
        font-size: $textSize;
        cursor: pointer;
        transition-duration: 0.5s;
        &:hover {
          background-color: #03304f;
        }
      }
    }
  }
}

@keyframes animation {
  0% {
    left: -110%;
    top: 90%;
  }

  80% {
    left: 13%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: -10%;
  }
}
